name: Build

on: [push, pull_request]

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 1.23
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version: 
          - "1.23"
          - "1.24"
          - "1.25"

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: unit-tests
        run: |
          go test -count=2 -race -covermode atomic -coverprofile=covprofile ./...
      - name: install-goveralls
        run: go install github.com/mattn/goveralls@latest
      - name: send-coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: goveralls -coverprofile=covprofile -service=github -parallel -flagname=Go-${{ matrix.test_number }}

  finish:
    needs: test
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: install-goveralls
        run: go install github.com/mattn/goveralls@latest
      - name: finish-coverage-parallel
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: goveralls -parallel-finish -service=github
